.container {
  width: 100%;
  padding: var(--padding-vertical) var(--padding-horizontal);
  box-sizing: border-box;
  margin: var(--margin-vertical) var(--margin-horizontal);
  border-radius: var(--border-radius);
}

.container {
  border: solid 1px var(--color-container-base-border);
  background-color: var(--color-container-base-background);
  color: var(--color-container-base-text);
}
.container.success {
  border: solid 1px var(--color-container-success-border);
  background-color: var(--color-container-success-background);
  color: var(--color-container-success-text);
}
.container.danger {
  border: solid 1px var(--color-container-danger-border);
  background-color: var(--color-container-danger-background);
  color: var(--color-container-danger-text);
}
.container.warning {
  border: solid 1px var(--color-container-warning-border);
  background-color: var(--color-container-warning-background);
  color: var(--color-container-warning-text);
}
.container.info {
  border: solid 1px var(--color-container-info-border);
  background-color: var(--color-container-info-background);
  color: var(--color-container-info-text);
}

.container.as-row {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: var(--spacing-horizontal) var(--spacing-vertical);
}
.container.as-column {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: var(--spacing-horizontal) var(--spacing-vertical);
}
