:root {
  --typography-container-inner-spacing-vertical: var(--spacing-md);
  --typography-container-inner-spacing-horizontal: var(--spacing-md);

  --typography-container-padding-top: var(--padding-md);
  --typography-container-padding-right: var(--padding-md);
  --typography-container-padding-bottom: var(--padding-md);
  --typography-container-padding-left: var(--padding-md);

  --typography-container-margin-top: var(--margin-md);
  --typography-container-margin-right: var(--margin-md);
  --typography-container-margin-bottom: var(--margin-md);
  --typography-container-margin-left: var(--margin-md);

  --typography-container-top-left-radius: var(--border-radius-md);
  --typography-container-top-right-radius: var(--border-radius-md);
  --typography-container-bottom-left-radius: var(--border-radius-md);
  --typography-container-bottom-right-radius: var(--border-radius-md);
}

:root body.light {
  --color-link-text: var(--color-primary-7);
  --color-link-outline: var(--color-primary-2);

  --color-higlight-background: var(--color-primary-2);
  --color-higlight-text: var(--color-text);

  --color-blockquote-border: var(--color-gray-4);
  --color-blockquote-background: var(--color-gray-2);
  --color-blockquote-text: var(--color-gray-9);
  --color-blockquote-citation: var(--color-gray-7);

  --color-inline-code-background: var(--color-gray-3);

  --color-codeblock-border: var(--color-gray-4);
  --color-codeblock-background: var(--color-gray-2);
  --color-codeblock-text: var(--color-gray-9);
}

:root body.dark {
  --color-paragraph-text: var(--color-gray-2);
  --color-list-marker: var(--color-gray-2);

  --color-link-text: var(--color-primary-3);
  --color-link-outline: var(--color-primary-3);

  --color-higlight-text: var(--color-primary-1);
  --color-higlight-background: var(--color-primary-6);

  --color-blockquote-border: var(--color-gray-8);
  --color-blockquote-background: var(--color-gray-9);
  --color-blockquote-text: var(--color-gray-2);
  --color-blockquote-citation: var(--color-gray-4);

  --color-inline-code-text: var(--color-gray-2);
  --color-inline-code-background: var(--color-gray-8);

  --color-codeblock-border: var(--color-gray-8);
  --color-codeblock-background: var(--color-gray-9);
  --color-codeblock-text: var(--color-gray-2);
}

h1 {
  font-size: var(--h1-size);
  line-height: var(--h1-height);
  margin-top: var(--h1-spacing);
  margin-bottom: var(--h1-spacing);
}
h2 {
  font-size: var(--h2-size);
  line-height: var(--h2-height);
  margin-top: var(--h2-spacing);
  margin-bottom: var(--h2-spacing);
}
h3 {
  font-size: var(--h3-size);
  line-height: var(--h3-height);
  margin-top: var(--h3-spacing);
  margin-bottom: var(--h3-spacing);
}
h4 {
  font-size: var(--h4-size);
  line-height: var(--h4-height);
  margin-top: var(--h4-spacing);
  margin-bottom: var(--h4-spacing);
}
h5 {
  font-size: var(--h5-size);
  line-height: var(--h5-height);
  margin-top: var(--h5-spacing);
  margin-bottom: var(--h5-spacing);
}
i {
  font-family: var(--font-serif);
}
sub,
sup,
small {
  font-size: 0.8rem !important;
}
mark {
  color: var(--color-higlight-text);
  background-color: var(--color-higlight-background);
  padding: 1px 3px;
  box-sizing: border-box;
  border-radius: 3px;
}
a {
  color: var(--color-link-text);
}
a:focus {
  outline-offset: 0;
  outline: solid 3.5px var(--color-link-outline);
  border-radius: var(--border-radius-sm) !important;
}
blockquote {
  margin: var(--container-margin-top) var(--container-margin-right)
    var(--container-margin-bottom) var(--container-margin-left);
  padding: var(--container-padding-top) var(--container-padding-right)
    var(--container-padding-bottom) var(--container-padding-left);
  box-sizing: border-box;
  border: solid 1px var(--color-blockquote-border);
  border-left-width: 7px;
  background-color: var(--color-blockquote-background);
  color: var(--color-blockquote-text);
  border-radius: var(--container-top-left-radius)
    var(--container-top-right-radius) var(--container-bottom-left-radius)
    var(--container-bottom-right-radius);
}
blockquote cite {
  display: block;
  margin-top: calc(var(--spacing-vertical) / 2);
  color: var(--color-blockquote-citation);
}
code,
kbd,
samp {
  padding: 1px 3px;
  box-sizing: border-box;
  border-radius: 3px;
  letter-spacing: -0.05rem;
  color: var(--color-inline-code-text);
  background-color: var(--color-inline-code-background);
  font-family: var(--font-mono) !important;
  font-size: 0.95rem !important;
}
pre {
  margin: var(--container-margin-top) var(--container-margin-right)
    var(--container-margin-bottom) var(--container-margin-left);
  padding: var(--container-padding-top) var(--container-padding-right)
    var(--container-padding-bottom) var(--container-padding-left);
  box-sizing: border-box;
  border: solid 1px var(--color-codeblock-border);
  background-color: var(--color-codeblock-background);
  color: var(--color-codeblock-text);
  border-radius: var(--container-top-left-radius)
    var(--container-top-right-radius) var(--container-bottom-left-radius)
    var(--container-bottom-right-radius);
  letter-spacing: -0.05rem;
}
pre code {
  background-color: transparent !important;
  color: inherit !important;
}
ul,
ol {
  padding-left: 27px;
  box-sizing: border-box;
}
ul li ul,
ol li ol,
ul li ol,
ol li ul {
  padding-left: 22px;
  margin-bottom: 5px;
  box-sizing: border-box;
}
ul li::marker,
ol li::marker {
  color: var(--color-list-marker) !important;
}
ul li,
ol li {
  color: var(--color-paragraph-text);
}
p {
  color: var(--color-paragraph-text);
}
