:root {
  --static-color-black: #2b2b2b;
  --static-color-white: #f8f8f8;
}
* {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  font-size: var(--text-md-size);
  line-height: var(--text-md-height);
  box-sizing: border;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100dvw;
  height: 100dvh;
  background-color: var(--color-background);
  color: var(--color-text);
}
hr {
  border: 0;
  border-top: solid 1px var(--table-border);
  border-radius: 10px;
}
hr.vertical {
  border: 0;
  border-left: solid 1px var(--table-border);
  border-radius: 10px;
  height: 100%;
}
