:root body.light {
  color-scheme: light;

  --color-text: #1c1c1c;
  --color-background: #f8f8f8;

  --color-primary-1: var(--color-indigo-1);
  --color-primary-2: var(--color-indigo-2);
  --color-primary-3: var(--color-indigo-3);
  --color-primary-4: var(--color-indigo-4);
  --color-primary-5: var(--color-indigo-5);
  --color-primary-6: var(--color-indigo-6);
  --color-primary-7: var(--color-indigo-7);
  --color-primary-8: var(--color-indigo-8);
  --color-primary-9: var(--color-indigo-9);

  /* Button and Container */
  --color-base-background: var(--color-gray-4);
  --color-base-text: var(--static-color-black);
  --color-base-border: var(--color-gray-4);
  --color-base-outline: var(--color-gray-3);

  --color-primary-background: var(--color-primary-7);
  --color-primary-text: var(--static-color-white);
  --color-primary-border: var(--color-primary-7);
  --color-primary-outline: var(--color-primary-2);

  --color-base-faded-background: var(--color-gray-3);
  --color-base-faded-text: var(--color-gray-8);
  --color-base-faded-border: var(--color-gray-3);

  --color-primary-faded-background: var(--color-primary-5);
  --color-primary-faded-text: var(--color-primary-1);
  --color-primary-faded-border: var(--color-primary-5);

  --color-success-background: var(--color-green-4);
  --color-success-text: var(--color-green-9);
  --color-success-border: var(--color-green-7);
  --color-success-outline: var(--color-green-2);

  --color-danger-background: var(--color-red-3);
  --color-danger-text: var(--color-red-9);
  --color-danger-border: var(--color-red-7);
  --color-danger-outline: var(--color-red-2);

  --color-warning-background: var(--color-yellow-3);
  --color-warning-text: var(--color-yellow-9);
  --color-warning-border: var(--color-yellow-7);
  --color-warning-outline: var(--color-yellow-2);

  --color-info-background: var(--color-blue-4);
  --color-info-text: var(--color-blue-9);
  --color-info-border: var(--color-blue-7);
  --color-info-outline: var(--color-blue-2);

  /* Form */
  --color-input-group-label-background: var(--color-gray-2);
  --color-input-group-label-border: var(--color-gray-4);
  --color-input-group-label-text: var(--color-gray-9);

  --color-input-background: var(--color-gray-2);
  --color-input-border: var(--color-gray-4);
  --color-input-text: var(--color-gray-9);
  --color-input-outline: var(--color-gray-2);
  --color-input-outline-inner-border: var(--color-gray-6);
  --color-input-placeholder-text: var(--color-gray-9);

  --color-input-success-background: var(--color-green-1);
  --color-input-success-border: var(--color-green-7);
  --color-input-success-text: var(--color-green-9);
  --color-input-success-outline: var(--color-green-2);
  --color-input-success-outline-inner-border: var(--color-green-7);
  --color-input-success-placeholder-text: var(--color-green-9);

  --color-input-danger-background: var(--color-red-1);
  --color-input-danger-border: var(--color-red-7);
  --color-input-danger-text: var(--color-red-9);
  --color-input-danger-outline: var(--color-red-2);
  --color-input-danger-outline-inner-border: var(--color-red-7);
  --color-input-danger-placeholder-text: var(--color-red-9);

  --color-form-success-message-text: var(--color-green-8);
  --color-form-danger-message-text: var(--color-red-8);

  --color-checkbox-unchecked-border: var(--color-gray-4);
  --color-checkbox-unchecked-background: var(--color-gray-2);

  --color-checkbox-checked-border: var(--color-primary-4);
  --color-checkbox-checked-background: var(--color-primary-4);

  --color-checkbox-outline: var(--color-primary-2);
  --color-checkbox-outline-inner-border: var(--color-primary-4);
  --color-checkbox-checkmark-background: var(--color-primary-4);

  --color-fieldset-border: var(--table-border);

  /* Table */
  --table-border: var(--color-gray-4);
  --table-striped-background: var(--color-gray-2);
  --table-th-background: var(--color-gray-2);

  /* Typography */
  --color-link-text: var(--color-primary-7);
  --color-link-outline: var(--color-primary-2);

  --color-higlight-background: var(--color-primary-2);
  --color-higlight-text: var(--color-text);

  --color-blockquote-border: var(--color-gray-4);
  --color-blockquote-background: var(--color-gray-2);
  --color-blockquote-text: var(--color-gray-9);
  --color-blockquote-citation: var(--color-gray-7);

  --color-inline-code-background: var(--color-gray-3);

  --color-codeblock-border: var(--color-gray-4);
  --color-codeblock-background: var(--color-gray-2);
  --color-codeblock-text: var(--color-gray-9);
}
